/* Не забыть проверить, всё ли нужное я записал в это правило

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

*/

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  color: #ffffff;

  background-color: #ee3643;
}

.button-uppercase {
  text-transform: uppercase;
}

.site-header {
  background-color: #f4f7f9;
}

.header-top,
.header-top input,
.footer-bottom {
  background-color: #293449;
}

.site-logo,
.footer-logo {
  background-color: #ee3643;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.button:hover,
.site-logo:hover,
.footer-logo:hover {
  background-color: #ca2c37;
}

.button:active,
.site-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

/*
  Стилизуем инпут
*/

.user-searching input {
  color: #ffffff;

  border: 0;
}

.user-searching input::-webkit-input-placeholder {
  color: #ffffff;
}
.user-searching input::-moz-placeholder {
  color: #ffffff;
}
.user-searching input:-moz-placeholder {
  color: #ffffff;
}
.user-searching input:-ms-input-placeholder {
  color: #ffffff;
}


.user-searching input:focus::-webkit-input-placeholder {
  color: #000000;
}
.user-searching input:focus::-moz-placeholder {
  color: #000000;
}
.user-searching input:focus:-moz-placeholder {
  color: #000000;
}
.user-searching input:focus:-ms-input-placeholder {
  color: #000000;
}

.user-searching input:focus,
.user-searching input:active {
  color: #000000;

  background-color: #ffffff;
}

/*
  Стилизация инпута закончена
*/

.header-top input,
.header-top a {
  line-height: 18px;
}

.header-top a:last-of-type {
  background-color: #63a63e;
}

.header-top a:last-of-type:active {
  opacity: 0.5;
}

.header-top a:nth-of-type(2):active,
.header-top a:nth-of-type(3):active {
  opacity: 0.6;
}

.header-bottom h1 {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-contacts .telephone-number {
  color: #ee3643;

  border: 3px solid #ffffff;
}

.header-contacts span {
  font-size: 14px;
  color: #32425c;
}

.header-login a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-login a:hover {
  color: #ee3643;

  background-color: #ffffff;
}


.login-button:active span {
  color: #000000;

  opacity: 0.3;
}

.main-navigation {
  background-color: #32425c;
  box-shadow: 0 -5px 0 0 rgba(41, 52, 73, 1) inset; 
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  line-height: 17px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.info {
  color: #000000;
}

.info h3 {
  font-size: 30px;
  line-height: 30px;
}

.info p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.about-us .our-partners {
  font-size: 18px;
  line-height: 20px;

  list-style: none;
}

.contacts a:first-of-type {
  background-color: #f4f2ed;
}

.site-footer {
  background-color: #32425c;
}

.footer-top {
  font-size: 18px;
}

.footer-navigation,
.footer-navigation-products {
  list-style: none;
}

.footer-navigation-products a,
.feedback a,
.creators a {
  color: #ffd180;
}

.feedback a:active,
.creators a:active {
  color: #ee3643;
}

.footer-navigation a:hover,
.footer-navigation-products a:hover,
.feedback a:hover,
.creators a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-navigation-products a:active {
  opacity: 0.5;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
}

.social ul {
  list-style: none;
}

.social a {
  background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.modal {
  display: none;
}

/*
  Стилизация шапки каталога
*/

.inner-page a:nth-of-type(3) {
  background-color: #ee3643;
}

.user-profile .login-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.user-profile .login-button:hover,
.user-profile .login-button:focus,
.user-profile .login-button:active {
  background-color: #ffffff
}

.user-options a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-options a:hover {
  color: #ee3643;
}

.user-options a:active {
  opacity: 0.3;
}

/*
  Стилизация каталога
*/

.user-options,
.breadcrumbs-list,
.filter ul,
.catalog-list {
  list-style: none;
}

.breadcrumbs-list a,
.breadcrumbs-current {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.catalog-list-name {
  background-color: #f2f6f8;
}

.catalog-list-name h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.filter fieldset {
  border: 0;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
}

.filter-option label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.filter-button,
.filter-button:hover,
.filter-button:active {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #ffffff;
}

.filter-button,
.catalog-list li {
  border: 1px solid #e5e5e5;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  border: 1px solid #ee3744;
}

.catalog-list li:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}

.old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
  text-decoration: line-through;
}

.catalog-item-price a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
}

.catalog-item-image a:first-child,
.catalog-item-image a:last-child {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-item-image a:first-child {
  color: #ffffff;

  background-color: #63a63e;
  box-shadow: 0 -3px 0 0 rgba(54, 115, 21, 1) inset; 
}

.catalog-item-image a:first-child:hover {
  background-color: #5fbb2d;
}

.catalog-item-image a:first-child:active {
  background-color: #518534;
}

.catalog-item-image a:last-child {
  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

.catalog-item-image a:last-child:hover {
  border-color: #32425c;
}

.catalog-item-image a:last-child:active {
  opacity: 0.3;
}

/*
  Делаем сетку
*/

.header-top {
  margin-bottom: 46px;
}

.container {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

/*
  Установка фиксированной высоты аргументирована тем, что
  блок логотипа с вероятностью 99% не будет переполняться.
*/

.site-logo {
  width: 220px;
  height: 47px;
}

.user-searching {
  width: 270px;
}

.user-searching input {
  width: 100%;
}

.header-top a:nth-of-type(n+2) {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.header-bottom .container {  
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-bottom h1, 
.header-bottom .site-navigation {
  margin: 0;
  padding: 0;
}

.header-contacts,
.header-login {
  margin: 0;
}

.header-bottom h1,
.header-contacts,
.header-login {
  width: 300px;
}

.header-bottom h1 {
  padding-right: 53px;
  padding-left: 51px;
}

.header-contacts .telephone-number {
  display: block;
  width: 270px;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.header-contacts span {
  margin-left: 10px;
}

.header-login {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.login-button {
  padding-top: 14px;
  padding-bottom: 14px;
}
.login-button:first-child {
  margin-right: 10px;
  padding-left: 48px;
  padding-right: 27px;
}

.login-button:last-child {
  padding-left: 25px;
  padding-right: 25px;
}

.main-navigation {
  margin-top: 40px;
  margin-bottom: 60px;
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0;
  padding: 0;
}

.info {
  padding-top: 80px;
  padding-bottom: 86px;
}

.info .container {
  justify-content: space-between;
}

.about-us {
  width: 560px;
}

.contacts {
  width: 300px;
}

.info h3 {
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.info p {
  margin: 0;
}

.about-us p:first-of-type {
  margin-bottom: 25px;
}

.about-us p:last-of-type {
  width: 400px;
  margin-bottom: 22px;
}

.our-partners {
  margin: 0;
  margin-bottom: 36px;
  padding: 0;
}

.our-partners li {
  margin-bottom: 23px;
  padding-left: 36px;
}

.about-us a {
  display: inline-block;
  width: 220px;
}

.contacts p {
  width: 180px;
  margin-bottom: 30px;
}

.contacts a:last-of-type {
  display: block;
  margin-top: 40px;
}

.footer-top {
  margin-bottom: 50px;
}

.footer-top .container {
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-top-left {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
}

.footer-logo {
  width: 220px;
  height: 68px;
  margin-bottom: 30px;
}

.footer-top-left p {
  margin: 0;
}

.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 36px;
  padding: 0;
}

.footer-navigation-products {
  display: flex;
  justify-content: space-between;
  width: 540px;
  margin: 0;
  padding: 0;
  padding-left: 23px;
}

.footer-bottom {
  padding-top: 40px;
  padding-bottom: 33px;
}

.copyright {
  width: 240px;
  margin: 0;
  margin-right: 150px;
}

.social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-right: 120px;
  padding: 0;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  border-radius: 50%;
}

.feedback {
  width: 150px;
  margin: 0;
}

.creators {
  width: 150px;
  margin: 0;
  padding-left: 39px;
}

/*
  Стилизуем сетку каталога
*/

.inner-page .login-button {
  display: block;
  width: 300px;
}

.user-options {
  display: flex;
  margin: 0;
  padding: 0;
}

.user-options li:first-child {
  margin-left: 18px;
  margin-right: 32px;
}

.breadcrumbs {
  padding-top: 22px;
  padding-bottom: 22px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 54px;
}

.breadcrumbs-list li:nth-of-type(3) {
  padding-left: 40px;
  padding-right: 42px;
}

.catalog-list-name h2 {
  margin: 0;
  margin-left: 30px;
  margin-top: 33px;
  margin-bottom: 35px;
  padding: 0;
}

.catalog {
  padding-top: 20px;
  padding-bottom: 60px;
}

.catalog .container {
  justify-content: space-between;
}

.filters {
  width: 220px;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.cataloig-list-items {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.catalog-list li {
  width: 220px;
}