*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: normal;
  color: #ffffff;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  border: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  
  font: inherit;
  text-align: center;
  vertical-align: middle;
  color: #ffffff;

  background-color: #ee3643;
}

.button-uppercase {
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.site-header {
  background-color: #f4f7f9;
}

.header-top {
  margin-bottom: 46px;
}

.header-top,
.header-top input,
.footer-bottom {
  background-color: #293449;
}

/*
  Установка фиксированной высоты аргументирована тем, что
  блок логотипа с вероятностью 99% не будет переполняться.
*/

.site-logo {
  position: relative;

  width: 220px;
  height: 43px;
  padding-top: 15px;
  padding-left: 55px;

  background-color: #ee3643;
}

.site-logo::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -5px;

  width: 100%;
  height: 5px;

  background-color: #b52933;
}

.site-logo:hover::after,
.site-logo:focus::after {
  background-color: #9a212a;
}

.site-logo:active::after {
background-color: #8e1e26;
}

.user-searching {
  position: relative;

  width: 270px;
}

.header-top a:nth-of-type(n+2) {
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.button:hover,
.site-logo:hover,
.site-logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  background-color: #ca2c37;
}

.button:active,
.site-logo:active,
.footer-logo:active {
  background-color: #ba2732;
}

/*
  Стилизуем инпут
*/

.user-searching input {
  font: inherit;
  color: #ffffff;

  width: 100%;
  padding-top: 9px;
  padding-left: 49px;
  padding-bottom: 9px;

  border: 0;
}

.user-searching input:hover {
  background-color: #212a3a;
}

.user-searching input::-webkit-input-placeholder {
  color: #ffffff;
}
.user-searching input::-moz-placeholder {
  color: #ffffff;
}
.user-searching input:-moz-placeholder {
  color: #ffffff;
}
.user-searching input:-ms-input-placeholder {
  color: #ffffff;
}


.user-searching input:focus::-webkit-input-placeholder {
  color: #000000;
}
.user-searching input:focus::-moz-placeholder {
  color: #000000;
}
.user-searching input:focus:-moz-placeholder {
  color: #000000;
}
.user-searching input:focus:-ms-input-placeholder {
  color: #000000;
}

.user-searching input:focus,
.user-searching input:active {
  color: #000000;

  background-color: #ffffff;
}

.search-input + label {
  position: absolute;
  top: 12px;
  left: 17px;

  width: 17px;
  height: 17px;

  opacity: 0.3;
}

.search-input:hover + label,
.search-input:focus + label,
.search-input:active + label {
  opacity: 1;
} 

/*
  Комбинатор "+" не добавляет уровней вложенности, поэтому следующее правило подходит под критерий Д7
*/

.search-input:focus + label path {
  fill: #ee3643;
}

/*
  Стилизация инпута закончена
*/

.header-top input,
.header-top a {
  line-height: 18px;
}

.header-top a:nth-of-type(2) {
  position: relative;

  padding-left: 54px;
}

.header-top a:nth-of-type(2)::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 27px;

  width: 14px;
  height: 16px;

  background-image: url("../img/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-top a:nth-of-type(2):hover::before,
.header-top a:nth-of-type(2):focus::before {
  opacity: 1;
}

/* почему-то следующее правило применяется к третьей ссылке, а не ко второй */

.header-top a:active::before {
  opacity: 0.5;
}

.header-top a:nth-of-type(3) {
  position: relative;

  padding-left: 60px;
}

.header-top a:nth-of-type(3)::before {
  content: "";

  position: absolute;
  top: 12px;
  left: 18px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.header-top a:nth-of-type(3):hover::before,
.header-top a:nth-of-type(3):focus::before {
  opacity: 1;
}

.header-top a:nth-of-type(2):hover,
.header-top a:nth-of-type(2):focus,
.header-top a:nth-of-type(3):hover,
.header-top a:nth-of-type(3):focus {
  background-color: #212a3a;
}

.header-top a:nth-of-type(2):active,
.header-top a:nth-of-type(3):active {
  background-color: #161d29;

  opacity: 0.6;
}

.header-top a:last-of-type {
  background-color: #63a63e;
}

.header-top a:last-of-type:hover,
.header-top a:last-of-type:focus {
  background-color: #5fbb2d;
}

.header-top a:last-of-type:active {
  opacity: 0.5;
}

.header-bottom h1, 
.header-bottom .site-navigation {
  margin: 0;
  padding: 0;
}

.header-bottom h1,
.header-contacts,
.header-login {
  width: 300px;
}

.header-bottom h1 {
  font-weight: normal;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;

  padding-right: 53px;
  padding-left: 51px;
}

.header-contacts,
.header-login {
  margin: 0;
}

.header-contacts .telephone-number {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;

  display: block;
  width: 270px;
  margin-bottom: 3px;
  padding-top: 9px;
  padding-bottom: 9px;

  border: 3px solid #ffffff;
}

.header-telephone-number {
  position: relative;

  padding-left: 70px;
}

.header-telephone-number::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 14px;

  width: 19px;
  height: 19px;

  background-image: url("../img/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-contacts span {
  font-size: 14px;
  color: #32425c;

  padding-left: 10px;
}

.header-login {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.header-login a {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  background-color: #ffffff;
}

.header-login a:hover {
  color: #ee3643;

  background-color: #ffffff;
}

.login-button {
  position: relative;

  padding-top: 12px;
  padding-left: 47px;
  padding-bottom: 12px;
}

.header-login .login-button:first-child {
  margin-right: 10px;
  padding-right: 27px;
}

.header-login .login-button:last-child {
  padding-left: 25px;
  padding-right: 25px;
}

.login-icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.login-button:hover polygon,
.login-button:hover path,
.unlogin-button:hover polygon,
.unlogin-button:hover path {
  fill: #32425c;
}

.login-button:active span {
  color: #000000;

  opacity: 0.3;
}

.main-navigation {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;

  background-color: #32425c;
  box-shadow: 0 -5px 0 0 rgba(41, 52, 73, 1) inset; 
}

.site-navigation {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}

.site-navigation a {
  line-height: 17px;

  display: block;
  padding: 20px 30px;
}

.site-navigation a:hover {
  background-color: #293449;
}

.site-navigation a:active {
  background-color: #1d2739;
  opacity: 0.5;
}

.popular-items-top,
.popular-manufacturers-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 25px;
  padding-left: 30px;

  background-color:#f9f5f0;
}

.popular-items-top h2,
.popular-manufacturers-top h2 {
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;
  margin-top: 8px;
  margin-bottom: 10px;
  padding: 0;
}

.popular-items-top a,
.popular-manufacturers-top a {
  text-align: center;

  width: 253px;
  padding-top: 13px;
  padding-bottom: 15px;

  border-radius: 2px;
}

.popular-items-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -20px;
  padding: 0;

  list-style: none;
}

.popular-items-list li {
  text-align: center;

  position: relative;
  display: inline-block;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;

  border: 1px solid #e5e5e5;
}

.popular-items-list li:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.popular-items-list h3 {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.popular-items-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}

.popular-items-list .button:hover,
.popular-items-list .button:active {
  background-color: #ee3643;
}

.manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -20px;
  margin-bottom: 65px;
  padding: 0;

  list-style: none;
}

.manufacturers-list li {
  margin-left: 20px;
  margin-bottom: 20px;

  border: 1px solid #eaeaea;
}

.manufacturers-list a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 218px;
  min-height: 143px;
}

.manufacturers-list a:hover {
  box-shadow: 0px 10px 25px 0px rgba(41, 52, 73, 0.5);
}

.manufacturers-list a:active {
  box-shadow: 0px 4px 10px 0px rgba(41, 52, 73, 0.5); 

  opacity: 0.3;
}

.manufacturer-name {
  margin: 0;
}

.info {
  padding-top: 80px;
  padding-bottom: 86px;

  color: #000000;
}

.info h3 {
  font-size: 30px;
  line-height: 30px;
  
  margin: 0;
  margin-bottom: 33px;
  padding: 0;
}

.info p {
  margin: 0;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
}

.about-us {
  width: 560px;
}

.about-us p:first-of-type {
  margin-bottom: 25px;
}

.about-us p:last-of-type {
  width: 400px;
  margin-bottom: 22px;
}

.about-us .our-partners {
  font-size: 18px;
  line-height: 20px;

  margin: 0;
  margin-bottom: 36px;
  padding: 0;

  list-style: none;
}

.our-partners li {
  position: relative;

  margin-bottom: 23px;
  padding-left: 36px;
}

.our-partners li::before {
  content: "";

  position: absolute;
  top: 50%;
  left: 0;

  width: 25px;
  height: 2px;
  
  background-color: #ee3643;
}

.our-partners li:first-child: {
  padding-left: 52px;
}

.our-partners li:last-child: {
  padding-right: 55px;
}

.about-us a {
  display: inline-block;
  width: 220px;
  padding-top: 12px;
  padding-bottom: 12px;

  border-radius: 2px;
}

.contacts {
  width: 300px;
}

.contacts p {
  width: 180px;
  margin-bottom: 30px;
}

.contacts a:first-of-type {
  background-color: #f4f2ed;
}

.contacts a:last-of-type {
  display: block;
  margin-top: 40px;  
  padding-top: 12px;
  padding-bottom: 12px;

  border-radius: 2px;
}

.site-footer {
  background-color: #32425c;
}

.footer-top {
  font-size: 18px;
  
  margin-bottom: 50px;
}

.footer-top-left {
  display: flex;
  flex-wrap: wrap;
  width: 340px;
}

.footer-logo {
  width: 220px;
  height: 68px;
  margin-bottom: 30px;
  padding-top: 21px;
  padding-left: 41px;

  background-color: #ee3643;
  box-shadow: 0 -5px 0 0 rgba(0, 0, 0, 0.24) inset;
}

.footer-top-left p {
  margin: 0;
}

.footer-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px;
  margin: 0;
  margin-top: 40px;
  margin-bottom: 36px;
  padding: 0;
  
  list-style: none;
}

.footer-navigation-products {
  display: flex;
  justify-content: space-between;
  width: 540px;
  margin: 0;
  padding: 0;
  padding-left: 23px;

  list-style: none;
}

.footer-navigation a:active,
.footer-navigation-products a:active {
  opacity: 0.5;
}

.footer-navigation a:hover,
.footer-navigation-products a:hover,
.feedback a:hover,
.creators a:hover {
  text-decoration: underline;
}

.footer-navigation-products a,
.feedback a,
.creators a {
  color: #ffd180;
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;

  padding-top: 40px;
  padding-bottom: 33px;
}

.copyright {
  width: 240px;
  margin: 0;
  margin-right: 148px;
}

.social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
  margin: 0;
  margin-right: 120px;
  padding: 0;

  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: #212a3a;
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: #ee3643;
}

.feedback {
  width: 150px;
  margin: 0;
}

.creators {
  width: 150px;
  margin: 0;
  padding-left: 39px;
}

.feedback a:active,
.creators a:active {
  color: #ee3643;
}

/*
  Стилизация шапки каталога
*/

.inner-page a:nth-of-type(3) {
  background-color: #ee3643;
}

.inner-page a:nth-of-type(3):hover,
.inner-page a:nth-of-type(3):focus {
  background-color: #ca2c37;
}

.inner-page a:nth-of-type(3):active {
  background-color: #ba2732;
}

.user-profile-top {
  display: flex;
}

.user-profile .login-button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;

  flex-grow: 1;
  width: 255px;
  margin-right: 0;

  background-color: #ffffff;
}

.user-profile .login-button:hover,
.user-profile .login-button:focus,
.user-profile .login-button:active {
  background-color: #ffffff
}

.user-icon {
  position: absolute;
  top: 14px;
  left: 14px;

  width: 20px;
  height: 18px;
}

.user-profile .unlogin-button {
  position: relative;
  
  width: 45px;
  min-height: 45px;
  margin-right: 0;

  background-color: #ffffff;
}

.unlogin-icon {
  position: absolute;
  top: 50%;
  left: 50%;

  margin-top: -8.5px;
  margin-left: -10px;
}

.user-options {
  position: relative;

  display: flex;
  margin: 0;
  padding: 0;
}

.user-options::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 106px;
  
  width: 4px;
  height: 5px;

  background-color: #32425c;
  border-radius: 2px;
}

.user-options li:first-child {
  margin-left: 18px;
  margin-right: 32px;
}

.user-options a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.user-options a:hover {
  color: #ee3643;
}

.user-options a:active {
  color: #32425c;

  opacity: 0.3;
}

/*
  Стилизация каталога
*/

.user-options,
.breadcrumbs-list,
.filter ul,
.catalog-list {
  list-style: none;
}

.breadcrumbs {
  padding-top: 22px;
  padding-bottom: 22px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 54px;
}

.breadcrumbs-list a,
.breadcrumbs-current {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.breadcrumbs-list li:nth-of-type(n+2) {
  position: relative;
}

.breadcrumbs-list li:nth-of-type(n+2)::before {
  content: "";

  position: absolute;
  top: 5px;
  left: -24px;

  width: 8px;
  height: 12px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs-list li:nth-of-type(3) {
  margin-left: 40px;
  margin-right: 42px;
}

.breadcrumbs-list li:last-of-type::before {
  top: 2px;
}

.to-homepage {
  position: relative;
}

.to-homepage::before {
  content: "";

  position: absolute;
  top: -6px;
  left: -54px;

  width: 15px;
  height: 12px;

  background-image: url("../img/icon-home.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-list-name .container {
  width: 940px;

  background-color: #f2f6f8;
}

.catalog-list-name h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;

  
  margin: 0;
  margin-left: 30px;
  margin-top: 33px;
  margin-bottom: 35px;
  padding: 0;
}

.catalog {
  padding-top: 20px;
  padding-bottom: 60px;
}

.filters {
  width: 220px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  
  border: 0;
}

.filter legend {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  padding-top: 25px;
  padding-bottom: 18px;
}

.filter ul {
  margin: 0;
  padding: 0;
}

.filter-option {
  margin-bottom: 20px;
}

.filter-option:last-of-type {
  margin-bottom: 0;
}

.filter-option label {
  position: relative;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #000000;
  text-transform: uppercase;

  padding-left: 35px; 
}

.filter-input:disabled + label {
  opacity: 0.4;
}

.filter-input {
  display: none;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  left: 0;

  width: 23px;
  height: 23px;

  background-color: transparent;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox + label:hover::before {
  background-image: url("../img/checkbox-off-hover.svg");
}

.filter-input-checkbox:checked + label::before {
  width: 27px;

  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked + label:hover::before {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox:disabled + label::before {
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: 0;

  width: 25px;
  height: 25px;

  background-color: transparent;
  border: 4px solid #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";

  position: absolute;
  top: 6px;
  left: 8px;

  width: 9px;
  height: 9px;

  background-color: #c5c5c5;
  border-radius: 50%;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:focus + label::before  {
  border-color: #b5b5b5;
}

.filter-input-radio:hover + label::after,
.filter-input-radio:focus + label::after  {
  background-color: #b5b5b5;
}

.filter-input-radio:disabled + label::before,
.filter-input-radio:disabled + label::after  {
  opacity: 0.3;
}

.filter-button {
  margin-top: 80px;
  padding: 10px 38px;
}

.filter-button,
.filter-button:hover,
.filter-button:active {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
  
  background-color: #ffffff;
}

.filter-button,
.catalog-list li {
  text-align: center;

  border: 1px solid #e5e5e5;
}

.filter-button:hover {
  border: 1px solid #bdc6ca;
}

.filter-button:active {
  border: 1px solid #ee3744;
}

.cataloig-list-items {
  width: 700px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -20px;
  padding: 0;
}

.catalog-list li {
  position: relative;
  display: inline-block;
  width: 220px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.catalog-list li:hover {
  box-shadow: 0 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.catalog-list h3 {
  margin: 0;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
}

.catalog-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  color: #000000;
  text-transform: none;
}

.flag {
  position: absolute;
  top: -1px;
  right: -1px;
  
  width: 60px;
  height: 60px;
  
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background-image: url("../img/new-flag.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.actions {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 218px;
  height: 88px;
  padding: 40px 0;

  z-index: 10;
}

/*
  Эта карточка товара под вопросом

 .for-example .actions {
  display: block;
}
*/

li:hover .actions {
  display: block;
}

a.buy,
a.add-bookmark {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;

  display: block;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 8px;

  border-radius: 2px;
}

a.buy {
  position: relative;

  padding: 10px 0;

  color: #ffffff;

  background-color: #63a63e;
  box-shadow: 0 -3px 0 0 rgba(54, 115, 21, 1) inset; 
}

a.buy:hover {
  background-color: #5fbb2d;
}

a.buy:active {
  background-color: #518534;
  box-shadow: 0 -3px 0 0 #518534 inset; 
}

.buy::before {
  content: "";

  position: absolute;
  left: 12px;

  width: 15px;
  height: 15px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

  opacity: 0.3;
}

.buy:hover::before,
.buy:focus::before,
.buy:active::before {
  opacity: 1;
}

a.add-bookmark {
  padding: 8px 0;

  color: #32425c;

  background-color: #ffffff;
  border: 3px solid #63a63e;
}

a.add-bookmark:hover {
  border-color: #32425c;
}

a.add-bookmark:active {
  opacity: 0.3;
}

.catalog-item-image {
  order: -1;

  width: 218px;
  height: 170px;
}

li:hover .catalog-item-image {
  visibility: hidden;
}

.catalog-item-price span,
.catalog-item-price a {
  display: block;
}

.old-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #999999;
  text-decoration: line-through;

  min-height: 20px;  
  margin-top: 15px;
  margin-bottom: 10px;
}

.catalog-item-price a {
  position: relative;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;

  width: 125px;
  margin-left: 42px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
}

.catalog-item-price a::after {
  content: "";

  position: absolute;
  top: 0;
  right: -42px;

  width: 0;
  height: 0;

  border: 21px solid transparent;
  border-left-color: #ee3643;
}

.catalog-list .button:hover,
.catalog-list .button:active {
  background-color: #ee3643;
}

/*
  Стилизация попапов
*/

@keyframes appearance {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes error {
  0%,
  100% {
    transform: translateX(0);
    box-shadow: 0 20px 40px 0 rgba(255, 0, 0, 0.75);
  }

  20%,
  60% {
    transform: translateX(-10px);
  }

  40%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: absolute;

  color: #000000;

  display: none;

  z-index: 30;
}

.modal-show {
  display: block;

  animation: appearance 0.7s;
  animation-timing-function: linear;
}

.modal-error {
  animation: error 0.7s;
  animation-timing-function: linear;
}

.modal-map {
  left: 50%;
  bottom: 130px;

  width: 940px;
  height: 446px;
  margin-left: -470px;

  background-color: #eeeae3;
  box-shadow: 0 0 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-map p {
  margin: 0;
}

.modal-close {
  position: absolute;
  top: 9px;
  right: 9px;  

  font-size: 0;

  width: 21px;
  height: 21px;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 9px;
  right: -3px;

  width: 27px;
  height: 3px;

  background-color: #ee3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-write-us {
  left: 50%;
  bottom: 260px;

  width: 620px;
  margin: -310px;

  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-write-us::before {
  content: "";

  position: absolute;
  top: -7px;

  width: 100%;
  height: 7px;
  background-color: #ff5357;
}

.modal-write-us-wrapper {
  padding-top: 50px;  
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 37px;

  background-color: #ffffff;
}

.modal-write-us p {
  margin: 0;
}

.modal-write-us .user-data {
  display: flex;
  margin-bottom: 25px;
  justify-content: space-between;
}

.modal-write-us label {
  font-size: 18px;
  line-height: 18px;

  width: 220px;
}

.modal-write-us input[type="text"],
.modal-write-us textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  color: #a9a9a9;

  width: 100%;
  padding: 10px 14px;

  border: 2px solid #dee3e4;
  border-radius: 2px;
}

.modal-write-us input:hover,
.modal-write-us textarea:hover {
  border-color: #b5b5b5;
}

.modal-write-us input:focus,
.modal-write-us textarea:focus {
  border-color: #ee3643;
}

.modal-write-us textarea {
  width: 100%;
  min-height: 114px;

  resize: none;
}

.button-wrapper {
  background-color: #f4f4f4;
  padding: 37px 80px;
}

.button-wrapper .button {
  font-size: 14px;
  line-height: 18px;

  width: 100%;
  padding: 12px;

  border: 0;
  border-radius: 5px / 2px;
}

.modal-basket {
  top: 410px;
  left: 50%;

  width: 620px;
  margin-left: -310px;

  box-shadow: 0px 20px 40px 0px rgba(41, 52, 73, 0.75);
}

.modal-basket::before {
  content: "";

  position: absolute;
  top: -7px;

  width: 100%;
  height: 7px;
  background-color: #ff5357;
}

.modal-basket-top-wrapper {
  padding-top: 74px;
  padding-bottom: 74px;

  background-color: #ffffff;
}

.modal-basket h2 {
  position: relative;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  text-align: center;

  margin: 0; 
  padding: 0;
}

.modal-basket h2::before {
  content: "";

  position: absolute;
  left: 60px;
  top: -18px;

  width: 66px;
  height: 66px;

  background-color: #63a63e;
  background-image: url("../img/form-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  border-radius: 50%;
}

.modal-basket-bottom-wrapper {
  background-color: #f4f4f4;
  padding: 37px 80px;
}

.user-choice {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.user-choice .button {
  font-size: 14px;
  line-height: 18px;

  width: 100%;
  margin-right: 20px;
  padding: 12px;

  border-radius: 2px;
}

.user-choice .button:last-child {
  margin-right: 0;

  color: #000000;
  background-color: #ffffff;
}







.advantages {
  margin-top: 59px;
  margin-bottom: 53px;
}

.advantages-top,
.advantages-bottom {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
}

.advantages-option {
  position: relative;

  width: 300px;
  min-height: 123px;

  margin-left: 20px;
  margin-bottom: 20px;
}

.advantages-option .flag {
  top: 0;
  right: 0;
}

.advantages-option p {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;

  margin-top: 23px;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 13px;
}

.advantages-option a {
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  display: block;
  width: 135px;
  margin-left: 23px;
  margin-right: 23px;
  margin-bottom: 15px;
  padding-top: 12px;
  padding-bottom: 12px;

  background-color: #000000;
  border-radius: 2px;

  opacity: 0.1;
}

.advantages-option a:hover,
.advantages-option a:focus {
  opacity: 0.2;
}

.advantages-option a:active {
  opacity: 0.3;
}

.advantages-option span {
  opacity: 1;
}

.advantage-materials {
  background-color: #ffbf47;
  background-image: url("../img/materials-icon.svg");
  background-repeat: no-repeat;
  background-position: 213px 31px;
}

.advantage-tools {
  background-color: #3bbce3;
  background-image: url("../img/tools-icon.svg");
  background-repeat: no-repeat;
  background-position: 197px 33px;
}

.advantage-technics {
  background-color: #dc91d8;
  background-image: url("../img/technics-icon.svg");
  background-repeat: no-repeat;
  background-position: 191px 31px;
}

.advantages-slider {
  width: 620px;
  min-height: 266px;
  margin-left: 20px;

  background-color: #8a7a6e;
}

.advantage-discounts {
  background-color: #8ed78f;
  background-image: url("../img/discounts-icon.svg");
  background-repeat: no-repeat;
  background-position: 196px 26px;
}

.advantage-delivery {
  background-color: #ffc047;
  background-image: url("../img/delivery-icon.svg");
  background-repeat: no-repeat;
  background-position: 191px 32px;
}




.services {
  padding-top: 68px;
  padding-bottom: 98px;

  background-color: #f4f7f9;
}

.services .container {
  flex-direction: column;
}

.services h2 {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;

  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #000000;
  text-transform: uppercase;
}

.services p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: #000000;
}

.services-description {
  width: 400px;
  margin: 0;
  margin-bottom: 70px;
}

.services-offers {
  display: flex;
  flex-wrap: wrap;
}

.services-options {
  width: 240px;
  margin: 0;
  margin-right: 80px;
  padding: 0;

  background-image: url("../img/services-shadow.png");
  background-repeat: no-repeat;
  background-position: right top;

  list-style: none;
}

.services-options li {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 23px;

  background-color: #32425c;
  box-shadow: 0px 1px 0px 0px rgba(41, 52, 73, 1); 
}

.services-options li:hover {
  color: #ffffff;

  background-color: #293449;
}

.services-options li:active,
.services-options .current-option {
  color: #32425c;

  background-color: #ffffff;
}

.services-option-description {
  display: none;
  flex-grow: 1;
}

.services-option-description.current-option-slide {
  display: block;
}

.services-option-description h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
  color: #32425c;
  text-transform: uppercase;

  margin: 0;  
  margin-bottom: 35px;
  padding: 0;
}

.services-option-description p {
  margin: 0;
  padding: 0;
}

.delivery-service {
  background-image: url("../img/delivery-icon.png");
  background-repeat: no-repeat;
  background-position: right 20px;
}

.delivery-service p {
  width: 275px;
}

.guarantee-service p {
  width: 375px;
}

.guarantee-service {
  background-image: url("../img/guarantee-icon.png");
  background-repeat: no-repeat;
  background-position: right top;
}

.credit-service p {
  width: 300px;
}

.credit-service {
  background-image: url("../img/credit-icon.png");
  background-repeat: no-repeat;
  background-position: right top;
}